{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{ template "_internal/google_analytics_async.html" .  }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description  }}{{else}}{{.Description}}{{end}}" />
<link rel="canonical" href="{{ .Permalink }}">

<title>{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Params.seo_title }} {{ end }}</title>

{{ partial "seo_schema" . }}



<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NMKVS8S');
</script>
<!-- End Google Tag Manager -->
