{{ define "main" }}
<section class="hero blue darken-3 fd-col">
    <h1 class="center white-text">{{ .Title }}</h1>
    {{ if isset .Params "subtitle"}}
    <p class="subtitle">{{ .Params.subtitle }}</p>
    {{ end }}
</section>
<article>
    <div class="container intro-image">
        <img src=" {{ $.Param "header_image" }}" />
    </div>
    <div class="post-content">
        {{ .Content }}
    </div>
</article>

{{ end }}
